.full-page{
  background-color: #CD2635;
}

.main-header{
  background-color: #CD2635;
  text-align: center;
  padding-top: 25px;
}

.navbar{
  background-color: yellow;
}

.nav-links{
  padding-top: 25px;
  margin-left: 20px;
  font-size: 25px;
}

.dashboard-links{
  margin-left: 20px;
  font-size: 25px;
}

.dash-link{
  margin-right: 30px;
  padding-bottom: 20px;
}

.registration-form-wrapper{
  text-align: center;
}

.reg-input{
  margin-bottom: 20px;
}

.health-form-wrapper{
  text-align: center;
}

.health-input{
  margin-bottom: 20px;
}

.submit-button{
  margin-bottom: 30px;
}

.user-logout{
  text-align: right;
  font-size: 25px;
}

.logout-button{
  font-size: 20px;
  margin-left: 10px;
  margin-bottom: 20px;
}













/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
